mock_parking/src/main/java/generated/SoapService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SoapServiceService" targetNamespace="http://soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap/" elementFormDefault="unqualified" targetNamespace="http://soap/" version="1.0">

  <xs:element name="notifyOccupation" type="tns:notifyOccupation"></xs:element>

  <xs:element name="notifyOccupationResponse" type="tns:notifyOccupationResponse"></xs:element>

  <xs:element name="notifyVacation" type="tns:notifyVacation"></xs:element>

  <xs:element name="notifyVacationResponse" type="tns:notifyVacationResponse"></xs:element>

  <xs:complexType name="notifyOccupation">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:spot"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="spot">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="start" type="tns:dateTime"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="dateTime">
    <xs:complexContent>
      <xs:extension base="tns:baseDateTime">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="baseDateTime">
    <xs:complexContent>
      <xs:extension base="tns:abstractDateTime">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractDateTime">
    <xs:complexContent>
      <xs:extension base="tns:abstractInstant">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractInstant">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="notifyOccupationResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="notifyVacation">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notifyVacationResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="notifyOccupation">
    <wsdl:part element="tns:notifyOccupation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notifyOccupationResponse">
    <wsdl:part element="tns:notifyOccupationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notifyVacationResponse">
    <wsdl:part element="tns:notifyVacationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notifyVacation">
    <wsdl:part element="tns:notifyVacation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SoapService">
    <wsdl:operation name="notifyOccupation">
      <wsdl:input message="tns:notifyOccupation" name="notifyOccupation">
    </wsdl:input>
      <wsdl:output message="tns:notifyOccupationResponse" name="notifyOccupationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyVacation">
      <wsdl:input message="tns:notifyVacation" name="notifyVacation">
    </wsdl:input>
      <wsdl:output message="tns:notifyVacationResponse" name="notifyVacationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapServiceServiceSoapBinding" type="tns:SoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="notifyOccupation">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="notifyOccupation">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="notifyOccupationResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyVacation">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="notifyVacation">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="notifyVacationResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapServiceService">
    <wsdl:port binding="tns:SoapServiceServiceSoapBinding" name="SoapServicePort">
      <soap:address location="http://localhost:8080/main_receiver/SoapService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>